@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
.df {
    display: flex;
  }
  .w100 {
    width: 100%;
  }
  .h100 {
    height: 100%;
  }
  .fdc {
    flex-direction: column;
  }
  .aic {
    align-items: center;
  }
  .jcsb{
    justify-content: space-between;
  }
  .jcs{
    justify-content: center;
  }
  .but1 {
    height: 50px;
    width: 150px;
    border: 1px solid black;
    border-radius: 7px;
}
    button{
    border-radius: 7px;
  }
  .topbar{
    width: 85%;
    font-size: 17px;
    margin: 60px auto;
    font-family: sans-serif;
}
.left{
    gap: 60px;
}
.secondbox{
    width: 85%;
    margin: 0 auto;

  }
  .but1a{
    font-size: 15px;
    background: none;
  }
  .sbox1{
    width: 28%;
    gap: 30px;
  }
  .sbox2{
    height: 380px;
    width: 700px;
  }
  .line1{
    font-family: 'Cardo', serif;
    font-size: 48px;
  }
  .but2a{
    height: 40px;
    width: 150px;
  }
  .but2{
    background-color: black;
    color: white;
  }
  .thirdbox{
    background-color: black;
    color: white;
    margin: 70px 0px;
  }
  .tbox{
    width: 20%;
    gap: 20px;
    margin: 30px auto;
  }
  .line1a{
    font-size: 40px;
  }
  .but2a{
    border-color: white;
  }
  .bdiv{
    width: 16%;
  }
  .cardbar{
    width: 85%;
    margin: 30px auto;
  }
  .card{
    width: 30%;
    gap: 20px;
  }
  .boxp{
    font-weight: bolder;
    font-size: 25px;
    width: 50%;
  }
  .seebox{
    margin: 90px 0px;
  }
  .logo{
    height: 50px;
    width: 50px;
  }
  .midb{
    gap: 40px;
    width: 33%;
  }
  .san{
    font-family: sans-serif;
  }
  .imgbox2{
    width: 85%;
    margin: 50px auto;
  }
  .lboxa{
    width: 35%;
  }
  .imgbb{
    height: 300px;
    width: 400px;
  }
  .lboxb{
    width: 60%;
  }
    .imgbba{
    gap: 20px;
    margin-top: 50px;
  }
  .imgbba1{
    gap: 20px;
    width: 70%;
    align-items: end;
  }
  .arrow{
    height: 40px;
    width: 110px;
  }
  .choosebox{
    margin: 90px 0px;
    background-color: black;
    color: white;
  }
  .cbox{
    width: 85%;
    margin: 20px auto;
  }
  .lftbox{
    gap: 20px;
    width: 30%;
  }
  .cline{
    margin-bottom: 70px;
  }
  .sitbox{
    margin: 90px 0px;
  }
  .rgtbox{
    width: 50%;
  }
  .sitb{
    width: 85%;
    margin: 0 auto; 
  }
  .sitb1{
    width: 45%;
    gap: 10px;
  }
  .hbox{
    width: 85%;
    margin: 0 auto;
  }
  .hbline1{
    width: 30%;
    margin-bottom: 30px;
  }
.profbox{
  border: 2px solid black;
  border-radius: 5px;
  width: 30%;
  padding: 50px 20px;
  gap: 30px;
}
.picon{
  height: 70px;
  width: 70px;
}
.herebox{
  margin: 60px 0px;
}
.updatebox{
  margin: 60px 0px;
}
.updbox{
  width: 85%;
  margin: 0 auto;
}
.updb{
  width: 45%;
}
.upda{
  width: 30%;
  gap: 20px;
}
input{
  border: none;
  padding: 0px 15px;
}
.inpdiv{
  border: 2px solid black;
  border-radius: 5px;
  height: 40px;
}
textarea{
  padding: 15px 10px;
}
.inpdivt{
  height: 180px;
}
.but2af{
  width: 100%;
}
.foot{
  background-color: #c5c5c5;
}
.footbox{
  width: 85%;
  margin: 30px auto;
  padding: 60px 0px;
}
.updp1{
  width: 70%;
}
.mybox2{
  width: 70%;
  gap: 20px;
}
li{
  list-style: none;
  margin: 20px 0px;
}


  