@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  border: 0.5px solid black;  
}
.ds {
  display: flex;
}
.fc {
  flex-direction: column;
}
.pa{
  position: absolute;
}
.topline {
  font-weight: 400;
  font-size: 16px;
  width: 80%;
  margin: 10px auto;
  justify-content: space-between;
}
.home {
  width: 150px;
  align-items: center;
}
.bottomline {
  position: relative;
  width: 80%;
  font-family: sans-serif;
  margin: 0 auto;
}
.botleft {
  width: 50%;
}
.imgkhana {
  height: 550px;
  z-index: 1;
  width: 600px;
}
.pmain1 {
  width: 80%;
  margin-top: 50px;
}
.p1 {
  font-size: 55px;
  font-weight: bold;
  font-family: sans-serif;
}
.p2 {
  margin-top: 30px;
  width: 57%;
  font-size: 14px;
}
.but1 {
  margin-top: 30px;
  width: 18%;
  font-weight: bolder;
  background-color: #f2cd5d;
  border: 2.5px solid black;
  height: 30px;
}
.body1 {
  margin-top: 60px;
}
.body1card {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.card1 {
  width: 30%;
  justify-content: center;
  align-items: center;
}
.bodyimg {
  width: 170px;
  height: 150px;
}
.p3 {
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 18px;
}
.p4 {
  font-size: 13px;
}
.left {
  width: 40%;
  overflow: hidden;
}
.right {
  width: 60%;
}
.inright {
  width: 60%;
  margin: 50px auto;
  position: relative;
}
.line1 {
  margin-top: 30px;
}
.line2 {
  margin-top: 20px;
}
.a1 {
  color: black;
}
.body2img {
  height: 610px;
  width: 100%;
}
.menu {
  margin-top: 80px;
}
.menubox1 {
  align-items: center;
  width: 65%;
  margin: 0 auto;
}
.menubox2 {
  width: 98%;
  height: 180px;
  margin-left: 20px;
  margin-top: 20px;
}
.menua {
  height: 180px;
  width: 210px;
}
.menuimg1 {
  width: 207px;
  height: 100%;
}
.menub {
  align-items: left;
  justify-content: center;
  padding: 20px;
  width: 60%;
}
.but1a {
  width: 100px;
}
.store {
  margin-top: 80px;
  position: relative; 
}
.storeline {
  width: 85%;
  margin: 40px auto;
}
.storecard {
  position: relative; 
}
.textdiv {
  width: 70%;
  margin: 50px auto;
  align-items: center;
}
.imgdiv {
  width: 70%;
  overflow: hidden;
  margin: 0 auto;
}
.butcorp {
  top: 250px;
  left: 160px;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 150px;
}
.butc {
  background-color: #fe804a;
  height: 80%;
  width: 80%;
  border: 1px solid black;
}
.company {
  margin: 0;
}
.videobox {
  width: 50%;
  height: 350px;
  margin: 30px 50px;
}
video {
  width: 100%;
  height: 100%;
}
.comp {
  height: 250px;
  margin-top: 80px;
  width: 27%;
  justify-content: space-between;
}
.logos {
  justify-content: space-between;
  width: 45%;
}
.logoimg {
  width: 35px;
  height: 35px;
}
.p5 {
  font-size: 28px;
  font-weight: bolder;
}
.contactus {
  margin-top: 30px;
  justify-content: space-between;
}
.form {
  position: relative;
  width: 50%;
  margin-top: 50px;
  gap: 30px;
}
iframe {
  margin: 0 auto;
}
.input1 {
  width: 70%;
  height: 50px;
  background-color: #f0e9e9;
  border: none;
}
.input2 {
  border: none;
  background-color: #f0e9e9;
  width: 70%;
}
.mainfooter {
  margin-top: 30px;
  background-color: #fe804a;
}
.footer {
  width: 95%;
  margin: 30px auto;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.foot1 {
  height: 100px;
  width: 100px;
}
.footimg {
  height: 100%;
  width: 100%;
}
.foot2 {
  width: 14%;
  height: 200px;
  margin-bottom: 20px;
  gap: 30px;
}
.foot3 {
  gap: 11px;
}
.foot4 {
  height: 200px;
  gap: 20px;
  width: 210px;
}
.footlogo {
  height: 50px;
  width: 50px;
}
.logofoot {
  gap: 10px;
}
.footlogo1 {
  width: 20px;
  height: 20px;
}
.bluebean{
  width: 80px;
  height: 80px;
  left: -180px;
}
.panida{
  z-index: 0;
  left: -60px;
  top: -20px;
}
.botright{
  position: relative;
}
.blueline{
  z-index: 0;
  right: -159px;
  top: -0px;
}
.laalwave{
  left: -220px;
  bottom: -90px;
}
.laalbean{
  bottom: 120px;
  left: 300px;
}
.yellowbean{
  right: -30px;
  bottom: 0px;
}
.yellowbean2{
  transform: rotate(110deg);
  right: 0px;
  top: 0px;
}
.panida2{
  right: 115px;
  top: -75px;
  width: 150px;
  height: 150px;
}
.blueline2{
  width: 150px;
  height: 150px;
  transform: rotate(90deg);
  bottom: 0px;
  right: -180px;
}
.bluebean2{
  width: 50px;
  height: 50px;
  bottom: -10px;
}
.bluebean3{
  width: 150px;
  height: 150px;
  right: 20px;
  transform: rotate(280deg);
  top: -10px;
}
.blueline3{
  width: 150px;
  height: 150px;
  transform: rotate(260deg);
  top: 0px;
  left: -20px;
  z-index: 1;
}
.bl3a{
  z-index: 0;
  left: 10px;
  top: 20px;
}
.yellowbean3{
  transform: rotate(110deg);
  left: 0px;
  bottom: 0px;
}
.laalwave2{
  transform: rotate(240deg);
  height: 150px;
  width: 150px;
  right: 10px;
  bottom: 0px;
}
.bluebean4{
  width: 50px;
  transform: rotate(100deg);
  height: 50px;
  top: -25px;
  left: -30px;
}
.bluebean5{
  width: 50px;
  transform: rotate(280deg);
  height: 50px;
  bottom: 110px;
  right: 170px;
}
@media(max-width: 576px){
  .headerbox{
      width: 100%;
      justify-content:space-between;
    }
    .topline{
      width: 95%;
    }
    .imglogo{
      margin-left: -15px;
    }
    
    .home{
      width: 70px;
      text-align: center;
      font-size: 18px;
    }
    .imgkhana{
      width: 470px;
      height: 450px;
    }
    .panida{
      height: 120px;
    }
    .bottomline{
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    .pmain1{
      width: 100%;
    }
    .p1{
      font-size: 50px;
    }
    .p2{
      font-size: 20px;
      width: 100%;
    }
    .but1{
      height: 60px;
      width: 150px;
      font-size: 20px;
      margin-bottom: 50px;
    }
    .body1{
      width: 100%;
    }
    .body1card{
      flex-direction: column;
      align-items: center;
    }
    .card1 {
      width: 330px;
      height: 400px;
    }
    .bodyimg {
       width: 200px;
       height: 200px;
    }
    .body2img{
      width: 500px;
      height: 400px;
      margin-left: 40px;
    }
    .p3 {
      font-weight: bolder;
      font-family: sans-serif;
      font-size: 40px;
    }
    .p4 {
      font-size: 18px;
    }
    .right{
      width: 100%;
    }
    .panida2{
      left: -110px;
    }
    .yellowbean2{
      left: 280px;
      top: -60px;
    }
    .bluebean2{
      left: -50px;
    }
    .blueline2{
      right: -110px;
    }
    .body1{
      flex-direction: column;
    }
    .left{
      width: 100%;
    }
    .p1{
      width: 100%;
    }
    .menu{
      width: 100%;
      flex-direction: column;
    }
    .menub{
      width: 100%;
    }
    .pmenu{
      text-align: center;
    }
    .p2menu{
      margin-left: 40px;
      font-size: 15px;
    }
    .p3menu{
      font-size: 15px;
      margin-top: 100px;
    }
    .p4menu{
      font-size: 10px;
    }
    .ba{
      width: 100px;
      font-size: 15px;
    }
    .store{
      margin-top: 95px;
    }



    
  }
  